@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: relative;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter Tight', sans-serif;
}
:root {
    --bg-color: #F0F0F0;
    --second-bg-color: #96C1E3;
    --text-color: black;
    --main-color: #2298F2;
}

html {
    font-size: 62.5%;
    font-weight: bold;
    
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    place-items: center;
    height: 50vh;
    display: grid;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: #F0F0F0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar a {
    font-size: 1.8rem;   
    color: black;
    margin-left: 4rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 95vh;
    width: 100%;
    margin-top: 100px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}

span {
    color: var(--main-color);
}

.logo span {
    color: var(--main-color);
}

.arrowdown {
    align-items: center;
}

.home-content h3 {
    font-size: 5rem;
    margin-top: 0.5rem;
    font-size: 3.5rem;
    color: black;
    padding-bottom: 20px;
}

.home-content h1 {
    font-size: 7rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 3rem;
}

.text-name{
    background: linear-gradient(45deg, #2298F2, #002D7A);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 68px; /* Sesuaikan dengan ukuran teks Anda */
    font-weight: bold; /* Atur tebal teks sesuai kebutuhan */
}
    
.home-img img {
    position: relative;
    top: 3rem;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--main-color);
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 30px var(--main-color),
                 0 0 20px var(--main-color);
}

.home-content p{
    font-size: 3.5rem;
    font-weight: 6000;
    max-width: 1000px;
    margin-top: 6.5rem;
}

.button {
    margin-top: 2vw;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #2298F2;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
   }
   
   .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #2298F2;
    z-index: -1;
    transition: all 250ms
   }
   
   .button:hover {
    color: #e8e8e8;
   }
   
   .button:hover::before {
    width: 100%;
   }

.about h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    font-weight: bold;
}

.heading {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-weight: bold;
}

.about-content h2 {
    text-align: left;
    line-height: 1.5;
}

.about-content h3 {
    font-size: 2.6rem;
    
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #96C1E3;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 20px;
}

.skills-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
   
}

.skills {
    background: #2298F2;
    color: white;
}

.container {
    width: 1000px;
    height: 530px;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    gap: 1em;
    margin-top: 50px;
}

.row {
    flex: 1;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    gap: 1em;
}

.col-kiri {
    flex: 0.5;
    border-radius: 24px;
    background-color: white;
    margin: 10px;
}

.col-tengah {
    flex: 0.5;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 10px;
}

.col-kanan {
    flex: 0.5;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 10px;
}

.row-top-1 {
    border: 2px solid black;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 200px;
    
}

.row-bottom-1 {
    border: 2px solid black;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 300px;
}

.row-top-2 {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 300px;
}

.row-bottom-2 {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 200px;
    align-items: center;
}

.top-1 {
    background-color: #ffffff;
}

.bottom-1 {
    background-color: #ffffff;
}

.row-top-2 {
    background-color: #ffffff;
}

.row-bottom-2 {
    background-color: #ffffff;
}

.text-work {
    font-size: 40px;
    text-align: center;
    color: #0b5c9b;
    font-weight: 800;
    margin-top: 27px;
}

.img-work {
    max-width: 100%; /* Mengatur lebar maksimum gambar */
    max-height: calc(100% - 84px); /* Mengatur tinggi maksimum gambar, 54px adalah jumlah tinggi teks dan margin atas */
    height: auto; /* Mempertahankan aspek rasio gambar */
    display: block; /* Menghilangkan spasi bawah gambar */
    margin: 0 auto; /* Pusatkan gambar di dalam kotak */
    
}

.text-responsibility {
    font-size: 30px;
    text-align: left;
    margin-left: 40px;
    color: #7BA86C;
    font-weight: 800;
    margin-top: 40px;
}

.text-adaptable-p{
    font-size: 18px;
    text-align: left;
    margin-left: 40px;
    color: #626262;
    font-weight: 400;
    margin-top: -30px;
}

.img-quote {
    width: 40px;
    margin-top: 2px;
}

.text-quote {
    font-size: 30px;
    text-align: left;
    margin-left: 40px;
    color: #252525;
    font-weight: 800;
    margin-top: 15px;
}

.text-isi-quote {
    font-size: 18px;
    text-align: center;
    color: #626262;
    font-weight: 800;
    margin-top: 8px;
}

.text-variety {
    font-size: 28px;
    text-align: center;
    color: #2298F2;
    font-weight: 800;
    margin-top: 30px;
}

.img-variety {
    text-align: center; 
    margin-top: 10px;
   
}

.img-variety img {
    margin: 20px 20px 0 20px; 
    
}

.content-wrapper {
    display: flex;
    align-items: center; /* Untuk menengahkan vertikal */
}

.text-uiux {
    font-size: 28px;
    text-align: left;
    color: #F16529;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 18px;
}

.img-man-idea {
    width: 150px;
    margin-left: 20px; /* Memberikan jarak antara gambar dan teks */
}

.project {
    gap : 20rem;
    margin-top: 10rem;
}

.text-project {
    text-align: center; 
    font-size: 14px; 
    color: #4949498d;
    margin-top: 10vw;
    
}

.text-dimple-span {
    font-size: 100px;
    text-align: center;
    color: #002D7A;
    font-weight: 800;
    
}

.text-dimple{
    font-size: 100px;
    text-align: center;
    color: #636363; 
    font-weight: 800;
    margin-top: 5vw;
}

.project-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.text-typography {
    text-align: center;
    color: #002D7A;
    font-weight:400px;
    font-size: 20px;
    margin-top: 5vw;
}

.font-inter {
    text-align: center;
    margin-top: 2vw;
}

.text-bold-inter {
    font-weight: bold;
    color: #002D7A;
    font-size: 18px;
}

.text-lighter-inter {
    font-weight: 300px;
    color: #002D7A;
    font-size: 18px;
}

.text-color{
    text-align: center;
    color: #002D7A;
    font-weight:400px;
    font-size: 20px;
    margin-top: 4vw;

}

.shape-countainer {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    justify-content: center;
}
.shape-1 {
    width: 100px;
    height: 50px;
    background-color: #002D7A; /* Ganti warna sesuai keinginan */
}

.shape-2 {
    width: 100px;
    height: 50px;
    background-color: #ffffff; /* Ganti warna sesuai keinginan */
}

.shape-3 {
    width: 100px;
    height: 50px;
    background-color: #EC535B; /* Ganti warna sesuai keinginan */
}

.shape-4 {
    width: 100px;
    height: 50px;
    background-color: #AC42FF; /* Ganti warna sesuai keinginan */
}

.shape {
    width: 150px;
    height: 150px;
    margin: 40px 0 0 0px; /* Memberikan jarak antara bentuk */
    border-radius: 50%; 
}

.code-color {
    text-align:center;
    color: #000000;
    font-weight:bold;
    font-size: 18px;
    margin-top: 3.7vw;
    
}

.text-dimple-about {
   
    margin-left: 12vw;
}

.text-dimple-h1 {
    font-size: 40px;
    color: #002D7A;
    font-weight: 800;
     margin-top: 7vw;
}

.text-dimple-span-about {
    font-size: 30px;
    color: #636363;
    font-weight:lighter;
}

.text-about-the-project-container {
    margin-top: 2vw;
    margin-left: 12vw;
    font-size: 18px;
    color: #636363;
}

.text-dimple-about {
    margin-top: 1vw;
    font-size: 20px;
    font-weight: 400px;
    color: #636363;
    width: 70%;
    text-align: justify;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-contact-h1 {
    font-size: 80px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 25vw;
    font-weight: bold;
}

.contact-img {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-what-next {
    text-align: center;
    color: #002D7A;
    font-weight:bold;
    font-size: 30px;
    margin-top: 5vw;
}

.footer-container {
    width: 100%;
    height: 300px;
    justify-content: center;
    background-color: white;
    
}

.text-seeyou {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    float: left;
    margin-right: 20vw;
   
}

.text-what-next .text-see-you{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-left: 1vw;
}

.text-have-a-nice-day {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    float: right;
    
}

.gradient-icon {
    display: inline-block;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
}

.gradient-icon i {
    color: transparent;
    background: linear-gradient(0deg, #FCAF45, #C13584);
    -webkit-background-clip: text;
    background-clip: text;
}

.gradient-icon span {
    color: black;
    text-decoration: none;
}

.gradient-icon:hover span {
    color: blue; 

}

ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    gap: 3vw;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
    gap: 30vw;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="Email"] .filled,
  .example-2 .icon-content a[data-social="Email"] ~ .tooltip {
      background-color: #35a4ff; 
  }
  
  /* mobile */
  @media (min-width: 320px) and (max-width: 767px) {
    .header a{
        font-size: 2.7rem;
    }
    .home{
        margin-top: -78rem;
    }
   .home-content h3{
    font-size: 6rem;
    font-weight: 600;
   }
   .hand-img{
    height: 5rem;
    width: 6rem;
   }
   .home-img img{
    height: 29rem;
    width: 29rem;
   }
   .home-content p{
    font-size: 5rem;
   }
   .button{
    height: auto;
    width: 28rem;
    font-size: 3.5rem;
    border-radius: 24;
    margin-top: 5rem;
   }
    .about-content h2{
        margin-top: -15rem;
        font-size: 6rem;
        margin-bottom: 10rem;
    }
    .about-content .me{
        font-size: 6rem;
    }
  .home-content {
    margin-top: 100rem;
  }
  .about{
    margin-top: 35rem;
  }
  .img-about{
    width: 90rem;
  }
  .heading{
    margin-top: 6rem;
  }
  .heading span{
    font-size: 8rem;
  }
  .container{
    margin-top: -2rem;
  }
  .project-content p{
    margin-top: 19rem;
    font-size: 2.3rem;
 }
  .text-project{
    margin-top: 7rem;
  }
  .code-color{
    margin-top: 5rem;
    font-size: 1.6rem;
  }
  .shape{
    width: 13rem;
    height: 13rem;
  }
  .text-dimple-about h1{
    margin-top: 13rem;
  }
  .text-dimple-about{
    width: 80%;
  }
  .contact-content h1{
    margin-top: 10rem;
  }
  .text-what-next .text-see-you{
    margin-left: 1rem;
    margin-top: 8rem;
  }

 .example-2{
    margin-top: 4rem;
    gap: 3rem;
 }
  }

  
  /* iPad Pro */
  @media (min-width: 768px) and (max-width: 1024px) {

    
    .header a{
        font-size: 2.7rem;
    }
    .home{
        margin-top: -35rem;
    }
   .home-content h3{
    font-size: 6rem;
    font-weight: 600;
   }
   .hand-img{
    height: 5rem;
    width: 6rem;
   }
   .home-img img{
    height: 29rem;
    width: 29rem;
   }
   .home-content p{
    font-size: 5rem;
   }
   .button{
    height: auto;
    width: 28rem;
    font-size: 3.5rem;
    border-radius: 24;
    margin-top: 10rem;
   }
    .about-content h2{
        margin-top: -15rem;
        font-size: 6rem;
        margin-bottom: 10rem;
    }
    .about-content .me{
        font-size: 6rem;
    }
  .home-content {
    margin-top: 100rem;
  }
  .about{
    margin-top: 90rem;
  }
  .img-about{
    width: 80rem;
  }
  .heading{
    margin-top: -39rem;
  }
  .heading span{
    font-size: 8rem;
  }
  .container{
    margin-top: -2rem;
    width: 100%; /* Menyesuaikan lebar container */
        margin-left: auto; /* Menyelaraskan container ke tengah */
        margin-right: auto; /* Menyelaraskan container ke tengah */
        max-width: 1200px; /* Maksimal lebar container */
  }
  .project-content p{
    margin-top: -15rem;
    font-size: 2.3rem;
 }
  .text-project{
    margin-top: 4rem;
  }
  .code-color{
    margin-top: 5rem;
    font-size: 1.6rem;
  }
  .shape{
    width: 13rem;
    height: 13rem;
  }
  .text-dimple-about h1{
    margin-top: 13rem;
  }
  .text-dimple-about{
    width: 80%;
  }
  .contact-content h1{
    margin-top: 19rem;
  }
  .text-what-next .text-see-you{
    margin-left: 1rem;
    margin-top: 8rem;
  }

 .example-2{
    margin-top: 4rem;
    gap: 3rem;
 }
  }
  
  /* Surface Pro 7 */
  @media (min-width: 1024px) and (max-width: 1792px) {
    /* Styles untuk Surface Pro 7 */
  }
  
  /* Surface Duo */
  @media (max-width: 540px) {
    /* Styles untuk Surface Duo */
  }
  
  /* Asus ZenFold 5 */
  @media (max-width: 360px) {
    /* Styles untuk Asus ZenFold 5 */
  }
  
 